# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Logs
*.log

# Coverage
coverage

# Cache
.cache
.parcel-cache

# Environment variables
.env*
!.env.example

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Supabase
.supabase

# Other
public
