AUTOFACT_SCRAPER_TOKEN=fnAiuA3Cegy/mSBB3aCA0/qFCMv7bSpk/IUyexbfGjM=
AUTOFACT_DEFAULT_EMAIL=skalechile@gmail.com
AUTOFACT_BASE_URL=https://www.autofact.cl/buscar-patente
AUTOFACT_HEADLESS=true
AUTOFACT_TIMEOUT_MS=30000
AUTOFACT_DEBUG_HTML=false
PLAYWRIGHT_WS_ENDPOINT=
AUTOFACT_PROXY_SERVER=
AUTOFACT_PROXY_USERNAME=
AUTOFACT_PROXY_PASSWORD=
PORT=8001
